.Task {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.Task p {
    display: flex;
    width: 50%;
}

.taskArea {
    display: flex;
    width: 700px;
}