.Navigation {
  align-self: flex-start;
  position: sticky;
  height: 100vh;
  top: 0;
  z-index: 200;
  min-width: 150px;
}

.DarkNavBrand > a {
  color: #343a40;
  background-color: rgb(212, 181, 40);
  font-size: 1.5rem;
}

.DarkNavBrand > a:hover {
  color: #f8f9fa;
}

.DarkDropdown > a {
  color: #f8f9fa;
}

.DarkDropdown > a:hover {
  color: #cbd3da;
  background-color: #1d2124;
}

.Collapse {
  position: fixed;
  top: 0;
  color: white;
  background-color: #4b5258;
  width: 300px;
  box-shadow: 1px 1px 1px black;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  padding: 8px 16px;
}

/* Cia i level komponenta numest reikia */
span {
  font-size: 1rem;
}

li {
  font-size: 1rem;
}